configuration {
    show-icons: false;
    font: "Hack 12";
    icon-theme: "";

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    display-filebrowser: "";
}


@theme "~/.config/rofi/mythemes/minimal.rasi"
